<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.FormadoresMapper">

	<update id="modificarRegistroDeLaTablaFormadores">
		UPDATE FORMADORES
		SET NOMBRE = #{formador.nombre},
		APELLIDOS = #{formador.apellidos},
		TELEFONO = #{formador.telefono}
		EMAIL = #{formador.email}
		WHERE ID_FORMADOR = #{formador.idformador} 
	</update>
	<!-- General -->
	<sql id="baseSelectDocumento">
		SELECT * FROM FORMADORES WHERE 1=1
	</sql>

	<select id="consultarTodosLosRegistrosDeLaTablaFormadores" resultMap="crearRegistro">
		<include refid="baseSelectDocumento"/>
	</select>
	
	
	<!-- Para acceso por la tabla bloques y para modificacion -->
	<select id="consultarRegistrosDeLaTablaFormadoresPorIdFormador" resultMap="crearRegistro">
		<include refid="baseSelectDocumento"/> AND ID_FORMADOR=#{codigo}

	</select>


	<!-- Para acceso por la tabla Actividades Formativas -->
	<select id="consultarRegistrosDeLaTablaFormadoresPorIdFormadorViaActividadesFormativas" resultMap="crearRegistro">
		<include refid="baseSelectDocumento"/> AND ID_FORMADOR = ANY(SELECT ID_FORMADOR FROM ACTIVIDADES_FORMADORES WHERE ID_ACTIVIDAD=#{idActividad} AND EMPRESA=#{idEmpresa} AND ID_BLOQUE=#{idBloque})
	</select>
	
	<!--  SELECT * FROM FORMADORES WHERE ID_FORMADOR = ANY(SELECT ID_FORMADOR FROM ACTIVIDADES_FORMADORES WHERE ID_ACTIVIDAD=1 AND EMPRESA='aytos' AND ID_BLOQUE=1)-->
	
	
	<resultMap id="crearRegistro" type="fpbasicsdb.modelo.TablaFormadores">
		<constructor>
			<idArg column="ID_FORMADOR" javaType="Integer" />
			<arg column="NOMBRE" javaType="String" />
			<arg column="APELLIDOS" javaType="String" />
			<arg column="TELEFONO" javaType="Integer" />
			<arg column="EMAIL" javaType="String" />
		</constructor>
	</resultMap>

</mapper>