 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.ModuloMapper">

	<update id="modificarRegistroDeLaTablaModulos">
		UPDATE MODULO
		SET NOMBRE = #{modulo.nombre},
			DURACION = #{modulo.duracion},
			CURSO = #{modulo.curso}
		WHERE ID_MODULO = #{modulo.idModulo} 
	</update>


	<select id="consultarTodosLosRegistrosDeLaTablaModulos" resultMap="crearRegistro">
		SELECT * FROM MODULO 

	</select>
	
	<select id="consultarRegistrosDeLaTablaModulosPorIdModulo" resultMap="crearRegistro">
		SELECT * FROM MODULO WHERE ID_MODULO=#{codigo}

	</select>
	
	

	<resultMap id="crearRegistro" type="fpbasicsdb.modelo.TablaModulos">
		<constructor>
			<idArg column="ID_MODULO" javaType="Integer" />
			<arg column="NOMBRE" javaType="String" />
			<arg column="DURACION" javaType="Integer" />
			<arg column="CURSO" javaType="String" />
		</constructor>
	</resultMap>

</mapper>