 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.ResultadoAprendizajeMapper">

	<update id="modificarRegistroDeLaTablaResultadoAprendizaje">
		UPDATE RESULTADOS_APRENDIZAJE
		SET DESCRIPCION = #{resultadoAprendizaje.descripcion}
		WHERE ID_RESULTADOS = #{resultadoAprendizaje.idResultados} AND
		ID_MODULO = #{resultadoAprendizaje.idModulo}
	</update>


	<select id="consultarTodosLosRegistrosDeLaTablaResultadoAprendizaje" resultMap="crearRegistro">
		SELECT * FROM RESULTADOS_APRENDIZAJE 

	</select>
	
	<select id="consultarRegistrosDeLaTablaResultadoAprendizajePorIdModulo" resultMap="crearRegistro">
		SELECT * FROM RESULTADOS_APRENDIZAJE WHERE ID_MODULO=#{idModulo}

	</select>
	
	<select id="consultarRegistrosDeLaTablaResultadoAprendizajePorIdResultados" resultMap="crearRegistro">
		SELECT * FROM RESULTADOS_APRENDIZAJE WHERE ID_RESULTADO=#{idResultado}

	</select>
	
	<select id="consultarRegistrosDeLaTablaResultadoAprendizajePorIdResultadosEIdModulo" resultMap="crearRegistro">
		SELECT * FROM RESULTADOS_APRENDIZAJE WHERE ID_RESULTADO=#{idResultado} AND ID_MODULO=#{idModulo}

	</select>
	
	<select id="obtenerModulos" resultMap="crearRegistro">
		SELECT ID_MODULO FROM RESULTADO_APRENDIZAJE GROUP BY ID_MODULO
		
	</select>
	
	<select id="obtenerIdResultados" resultMap="crearRegistro">
		SELECT ID_RESULTADOS FROM RESULTADO_APRENDIZAJE GROUP BY ID_RESULTADOS
	</select>

	<resultMap id="crearRegistro" type="fpbasicsdb.modelo.TablaResultadosAprendizaje">
		<constructor>
			<idArg column="ID_RESULTADOS" javaType="Integer" />
			<arg column="ID_MODULO" javaType="Integer" />
			<arg column="DESCRIPCION" javaType="String" />
		</constructor>
	</resultMap>

</mapper>